/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
  }
  
  .site-blocks-cover.overlay {
    position: relative;
  }

  @media screen and (max-width: 576px){
    .site-blocks-cover.overlay {
      position: relative;
      margin-top:8%;
    }
  }
  
  .site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    
  }
  
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%;
  }
  
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh);
  }
  
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 500px;
    height: calc(30vh);
  }
  
  .site-blocks-cover h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }

  .site-blocks-cover h4 {
    font-size: 1.5rem;
    color: #fff;
  }
  
  @media (max-width: 991.98px) {
    .site-blocks-cover h1 {
      font-size: 2rem;
    }
  }
  
  .site-blocks-cover p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .site-blocks-cover p a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem;
    }
  }
  
  .site-block-subscribe .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .site-block-subscribe .form-control {
    font-weight: 300;
    border-color: #fff !important;
    height: 80px;
    font-size: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .site-block-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
  }
  
  .site-block-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
  }
  
  .site-block-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
  }
  
  .site-block-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic;
  }


  /* line 8, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 14, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

/* line 30, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .thumb img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 35, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 7;
}

/* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 47, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p a {
  display: inline-block;
  background: #1EC6B6;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 400;
  padding: 0px 12px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 65, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p {
  color: #1EC6B6;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 68, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p a {
  background: #1EC6B6;
  color: #fff;
}

.btn-sendiri{
  color: #fff;
  background-color: #00C89E;
  border-color: #00C89E;
}

.remove-product-link {
  width: 15px;
  height: 15px;
  margin-right: 13px;
  border-radius: 50%;
  background-color: #ff5f5f;
  background-image: url(../uploads/cancel.svg);
  background-position: 50% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.lg-check-stamp {
  position: absolute;
  z-index: 100;
  top: -10%;
  right: 0;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 576px){
.lg-check-stamp {
    width: 90px;
    right: -5px;
  }
}

@media screen and (min-width: 577px){
.lg-check-stamp {
    width: 180px;
    right: -5px;
  }
}

.lg-check-stamp-2 {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 576px){
.lg-check-stamp-2 {
    width: 90px;
    right: -5px;
  }
}

@media screen and (min-width: 577px){
.lg-check-stamp-2 {
    width: 180px;
    right: -5px;
  }
}

.border-gallery{
  border: 2px solid #00C89E;
}

.border-b{
  border-bottom: 3px solid #00C89E;
}

.center-image{
  text-align:center;
}

.image-gallery-neat{
  max-width:300px;
  max-height:300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.logo-responsive{
  margin-top:-30px;
  margin-bottom:-30px;
}

@media screen and (max-width: 320px){
  .logo-responsive{
    margin-top:-10px;
    margin-bottom: -100px; 
    }
  }

@media screen and (max-width: 576px){
  .logo-responsive{
    margin-bottom:-100px;
    }
  }

.card-items {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.5px solid #f2f2f2;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: transparent;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  height: 180px;
}